
TABLE {
	WIDTH: 1080; HEIGHT:820; CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #666666; BORDER-LEFT-COLOR: #666666
}
BODY {
	SCROLLBAR-ARROW-COLOR: #747474; SCROLLBAR-FACE-COLOR: #e0e0e0; SCROLLBAR-DARKSHADOW-COLOR: #747474; SCROLLBAR-BASE-COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND: #FFFFFF; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #e0e0e0; FONT-SIZE: 9pt; FONT-WEIGHT: normal; SCROLLBAR-TRACK-COLOR: #f5f5f5; SCROLLBAR-3DLIGHT-COLOR: #cccccc
}
TD {
	CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; FONT-FAMILY: Arial; BORDER-RIGHT-COLOR: #666666; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: #666666
}
TR.head TD {
	FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold; height:100px
}
TD.month-title {
	CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; BACKGROUND-COLOR: #657383; COLOR: #FFFFFF
}
TD.weekday-title {
	CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; FONT-FAMILY: Arial; FONT-SIZE: 11pt; FONT-WEIGHT: bold; BACKGROUND-COLOR: #FFE87C; width:14%
}
TD.weekday-title-even {
	CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; FONT-FAMILY: Arial; FONT-SIZE: 11pt; FONT-WEIGHT: bold; BACKGROUND-COLOR: #CCFB5D; width:14%
}
TD.weekday-title-odd {
	CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; FONT-FAMILY: Arial; FONT-SIZE: 11pt; FONT-WEIGHT: bold; BACKGROUND-COLOR: #A0C544; width:14%
}
TD.fasting {
	CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; font-weight:bold;font-style:italic; FONT-FAMILY: Arial; FONT-SIZE: 10pt; BACKGROUND-COLOR: #FFE87C; height:18%; width:14%
}
TD.even-column {
	CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; FONT-FAMILY: Arial; BORDER-RIGHT-COLOR: #666666; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: #666666; BACKGROUND-COLOR: #CFECEC; height:18%; width:14%
}
TD.odd-column {
	CELLPADDING: 0; CELLSPACING: 0; border-width: 1px; border-style: solid; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; FONT-FAMILY: Arial; BORDER-RIGHT-COLOR: #666666; FONT-SIZE: 10pt; BORDER-LEFT-COLOR: #666666; BACKGROUND-COLOR: #AFDCEC; height:18%; width:14%
}
H1 {
	FONT-FAMILY: Arial; FONT-SIZE: 14.4pt; FONT-WEIGHT: bold
}
